Repository jonghyo/zenn.dev: changes, and which lefthook commands are due for each by the changed paths.
All: secretlint, formatting, textlint, markdownlint

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-commit:
  parallel: true
  commands:
    # common rules
    secretlint:
      glob: '*'
      run: npx secretlint --maskSecrets --secretlintignore .gitignore "{staged_files}"
    formatting:
      glob: '**/*.{js,ts,jsx,tsx,md,mdx,json,yml}'
      run: npx prettier --write "{staged_files}"
    # for docs edit rules
    textlint:
      glob: '**/*.{md,mdx}'
      run: npx textlint --cache {staged_files}
    markdownlint:
      glob: '**/*.{md,mdx}'
      run: npx markdownlint-cli2 {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint -e

docs(zenn-github-repo): add articles
  .prettierrc
  .textlintrc.yml
  .vscode/setting.json
  articles/zenn-github-repo.md
  images/.keep
  images/zenn-github-repo/auto-delete-branch.png
  images/zenn-github-repo/dependabot.png
  images/zenn-github-repo/github-actions.png
  images/zenn-github-repo/lefthook.gif
  images/zenn-github-repo/markdownlint.png
  images/zenn-github-repo/npm-run-lint.png
  images/zenn-github-repo/npm-run-markdownlint.png
  images/zenn-github-repo/textlint.png
  package-lock.json
  package.json
  rules.yml
Due: secretlint, formatting, textlint, markdownlint

docs(zenn-github-repo): add articles (#10)
  .prettierrc
  .textlintrc.yml
  .vscode/setting.json
  articles/zenn-github-repo.md
  images/.keep
  images/zenn-github-repo/auto-delete-branch.png
  images/zenn-github-repo/dependabot.png
  images/zenn-github-repo/github-actions.png
  images/zenn-github-repo/lefthook.gif
  images/zenn-github-repo/markdownlint.png
  images/zenn-github-repo/npm-run-lint.png
  images/zenn-github-repo/npm-run-markdownlint.png
  images/zenn-github-repo/textlint.png
  package-lock.json
  package.json
  rules.yml
Due: secretlint, formatting, textlint, markdownlint

docs(zenn-github-repo): fix articles
  articles/zenn-github-repo.md
Due: secretlint, formatting, textlint, markdownlint

docs(zenn-github-repo): fix articles (#11)
  articles/zenn-github-repo.md
Due: secretlint, formatting, textlint, markdownlint

feat: add latest post actions
  .github/workflows/zenn-post-workflow.yml
  README.md
Due: secretlint, formatting

feat: add latest post actions (#12)
  .github/workflows/zenn-post-workflow.yml
  README.md
Due: secretlint, formatting

Updated with the latest blog posts
  README.md
Due: secretlint

docs(zenn-github-repo): Update zenn-github-repo.md
  articles/zenn-github-repo.md
Due: secretlint, formatting, textlint, markdownlint

docs(zenn-github-repo): Update zenn-github-repo.md (#13)
  articles/zenn-github-repo.md
Due: secretlint, formatting, textlint, markdownlint

feat: add auto merge
  .github/workflows/dependabot_auto_merge.yml
Due: secretlint, formatting

feat: add auto merge (#14)
  .github/workflows/dependabot_auto_merge.yml
Due: secretlint, formatting

docs(zenn-github-repo): add dprint
  articles/zenn-github-repo.md
Due: secretlint, formatting, textlint, markdownlint

docs(zenn-github-repo): add dprint (#15)
  articles/zenn-github-repo.md
Due: secretlint, formatting, textlint, markdownlint

docs(nextjs-middleware): add article
  .textlintrc.yml
  articles/nextjs-middleware.md
  articles/zenn-github-repo.md
  images/nextjs-middleware/middleware-overview.drawio.svg
  images/nextjs-middleware/middleware-overview.png
Due: secretlint, formatting, textlint, markdownlint

docs(nextjs-middleware): add article (#16)
  .textlintrc.yml
  articles/nextjs-middleware.md
  articles/zenn-github-repo.md
  images/nextjs-middleware/middleware-overview.drawio.svg
  images/nextjs-middleware/middleware-overview.png
Due: secretlint, formatting, textlint, markdownlint

docs(oss-research-methods): add article
  articles/oss-research-methods.md
Due: secretlint, formatting, textlint, markdownlint

docs(nextjs-middlware): fix article
  articles/nextjs-middleware.md
Due: secretlint, formatting, textlint, markdownlint

docs(nextjs-middleware): fix textlint error
  articles/nextjs-middleware.md
Due: secretlint, formatting, textlint, markdownlint

docs(nextjs-middlware): fix article (#18)
  articles/nextjs-middleware.md
Due: secretlint, formatting, textlint, markdownlint

feat: add ci conditions
  .github/workflows/lint.yml
  README.md
Due: secretlint, formatting

feat: add ci conditions (#19)
  .github/workflows/lint.yml
  README.md
Due: secretlint, formatting

docs(nextjs-middleware): add X post
  articles/nextjs-middleware.md
Due: secretlint, formatting, textlint, markdownlint

docs(nextjs-middleware): add X post (#20)
  articles/nextjs-middleware.md
Due: secretlint, formatting, textlint, markdownlint

docs(frontend-cicd): add articles
  .markdownlint-cli2.jsonc
  README.md
  articles/frontend-cicd-pipeline.md
  images/frontend-cicd-pipeline/git-hooks.png
  images/frontend-cicd-pipeline/what-is-ci-cd-hero.jpg
Due: secretlint, formatting, textlint, markdownlint

docs(raycast): add articles
  .github/workflows/dependabot_auto_merge.yml
  .textlintrc.yml
  articles/raycast-settings.md
  images/raycast-settings/advanced.png
  images/raycast-settings/clipboard-history.png
  images/raycast-settings/color-picker.gif
  images/raycast-settings/deepcast-result.png
  images/raycast-settings/deepcast.png
  images/raycast-settings/delete-alfred.png
  images/raycast-settings/export.png
  images/raycast-settings/general.png
  images/raycast-settings/github.png
  images/raycast-settings/google-search.png
  images/raycast-settings/image-modification.png
  images/raycast-settings/install-extensions.png
  images/raycast-settings/install-raycast.png
  images/raycast-settings/proxy.png
  images/raycast-settings/ray-so-export.png
  images/raycast-settings/record-hotkey.png
  images/raycast-settings/search-emoji.png
Due: secretlint, formatting, textlint, markdownlint

docs(raycast): set published flag
  articles/raycast-settings.md
Due: secretlint, formatting, textlint, markdownlint

Feature/add raycast (#24)
  .github/workflows/dependabot_auto_merge.yml
  .textlintrc.yml
  articles/raycast-settings.md
  images/raycast-settings/advanced.png
  images/raycast-settings/clipboard-history.png
  images/raycast-settings/color-picker.gif
  images/raycast-settings/deepcast-result.png
  images/raycast-settings/deepcast.png
  images/raycast-settings/delete-alfred.png
  images/raycast-settings/export.png
  images/raycast-settings/general.png
  images/raycast-settings/github.png
  images/raycast-settings/google-search.png
  images/raycast-settings/image-modification.png
  images/raycast-settings/install-extensions.png
  images/raycast-settings/install-raycast.png
  images/raycast-settings/proxy.png
  images/raycast-settings/ray-so-export.png
  images/raycast-settings/record-hotkey.png
  images/raycast-settings/search-emoji.png
Due: secretlint, formatting, textlint, markdownlint

docs(raycast): fix type idea
  articles/raycast-settings.md
Due: secretlint, formatting, textlint, markdownlint

chore(raycast): fix article
  articles/raycast-settings.md
  images/raycast-settings/raycast.gif
Due: secretlint, formatting, textlint, markdownlint

chore(raycast): fix article (#25)
  articles/raycast-settings.md
  images/raycast-settings/raycast.gif
Due: secretlint, formatting, textlint, markdownlint

chore(raycast): Update raycast-settings.md
  articles/raycast-settings.md
Due: secretlint, formatting, textlint, markdownlint

chore: fix articles
  articles/nextjs-middleware.md
  articles/raycast-settings.md
Due: secretlint, formatting, textlint, markdownlint

docs: update cicd
  articles/frontend-cicd-pipeline.md
Due: secretlint, formatting, textlint, markdownlint

docs(middleware): update Next.js v15.2.0 info
  articles/nextjs-middleware.md
Due: secretlint, formatting, textlint, markdownlint

docs(middleware): update Next.js v15.2.0 info (#35)
  articles/nextjs-middleware.md
Due: secretlint, formatting, textlint, markdownlint

feat: Update dependabot.yml
  .github/dependabot.yml
Due: secretlint, formatting
